.search-all {
  min-height: calc(100vh - 4rem);
}
.search {
  padding: 4rem;
  max-width: 1200px;
  margin: 0 auto;
  .title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
    button {
      padding: 0.5rem 1rem;
      border-radius: 5px;
      border: none;
      background-color: #fff;
      font-size: 1rem;
      cursor: pointer;
      &:hover {
        background-color: #eee;
      }
      &:active {
        background-color: #ddd;
      }
    }
    .search-results {
      display: block;
      font-size: 1.5rem;
      margin: 0 auto;
      padding-left: 2rem;
      .search-query {
        font-weight: bold;
      }
    }
  }
}
.recipe-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 2rem;
  max-width: 1200px;
  align-content: center;
  /* padding: 4rem; */
  .recipe-card {
    margin: 0 auto;
    max-width: 350px;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    img {
      width: 100%;
      object-fit: cover;
    }
    .recipe-title {
      position: absolute;
      bottom: 2%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.4);
      color: #fff;
      font-size: 1.2rem;
      padding: 0.75rem;
      box-sizing: border-box;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
    .cooking-time {
      position: absolute;
      top: 0;
      right: 0;
      color: #fff;
      background-color: rgba(0, 0, 0, 0.4);
      padding: 0.5rem;
      border-top-right-radius: 5px;
      font-size: 0.75rem;
    }
    &:hover {
      cursor: pointer;
      transform: scale(1.02);
    }
  }
}

@media screen and (max-width: 768px) {
  .search {
    padding: 2rem;
  }
  .recipe-container {
    padding: 2rem;
  }
}